@import "tailwindcss";

/* Header Bar Animation */
.Animation-Header {
    position: relative;
    width: 100%;
    color: #F2881F;
    transition: top 0.5s ease;
    font-size: inherit;
}

.transparent-text {
    color: transparent !important;
    -webkit-text-stroke: 1px #888C9D;
    font-weight: bold;
}

.Animation-Header::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.5s ease;
    left: 0;
    top: 25px;
    color: transparent;
    -webkit-text-stroke: 1px #eee;
    text-transform: uppercase;
    font-size: inherit;
}

.Animation-Title h1 {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    transition: all .5s linear;
}

.Animation-Header.scrolling-down::before,
.Animation-Title.scrolling-down h1 {
    top: 40px !important;
}

.Animation-Header.scrolling-up::before,
.Animation-Title.scrolling-up h1 {
    top: 0px !important;
}

@media (max-width:419px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 42px !important;
    }
}

@media (min-width:420px) and (max-width:449px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 45px;
        width: 100%;
    }
}

@media (min-width:449px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 60px;
    }
}

@media (min-width:450px) and (max-width:599px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 64px;
    }
}

@media (min-width:600px) and (max-width:799px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 80px;
    }
}

@media (min-width:800px) and (max-width:919px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 92px;
    }
}

@media (min-width:920px) and (max-width:1090px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 88px;
        width: 85%;
        left: 60px;
    }
}

@media (min-width:1090px) and (max-width:1439px) {

    .Animation-Header,
    .Animation-Header::before {
        font-size: 88px;
        width: 100%;
        left: 0;
    }
}

@media (min-width:1440px) {


    .Animation-Header::before {
        font-size: 60px;
        width: 60%;
        left: 20%;
    }

    .group.Animation-Header::before {
        width: 70%;
        left: 0;

    }
}

/* Cursor Customization */
body {
    cursor: url('./assets/cursor-1.cur'), auto;
    background-color: #16161B;
}

a,
button,
.logo {
    cursor: url('./assets/Cursor_5.ico'), auto !important;
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #F2881F;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    z-index: 9999;
}

.custom-cursor::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #F2881F;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 1.5s infinite ease-in-out;
    animation: pulse 1.5s infinite ease-in-out;
    pointer-events: none;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Box-Effect */
.box-Effect::before,
.box-Effect::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.box-Effect::before {
    transform: rotate(3deg);
}

.box-Effect::after {
    transform: rotate(-3deg);
}

/* Box-Effect */
/* Buttons Effect Border */
.btn-Effect::before,
.btn-Effect::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-Effect::before {
    transform: rotate(3deg);
}

.btn-Effect::after {
    transform: rotate(-3deg);
}

/* Scroll Bar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #F2881F;
}

::-webkit-scrollbar-thumb:hover {
    background: #D9761E;
}

/* Hero Image Animation */
.hero-pic {
    -webkit-animation: hero-pic 2s linear infinite;
    animation: hero-pic 2s linear infinite;
}

@-webkit-keyframes hero-pic {
    0% {
        transform: translate(0, 0%);
    }

    25% {
        transform: translate(0, -5%);
    }

    50% {
        transform: translate(0, -10%);
    }

    75% {
        transform: translate(0, -5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes hero-pic {
    0% {
        transform: translate(0, 0%);
    }

    25% {
        transform: translate(0, -5%);
    }

    50% {
        transform: translate(0, -10%);
    }

    75% {
        transform: translate(0, -5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Underline Effect */
span.underlines {
    z-index: 3 !important;
    position: relative;
}

span.underlines::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
    height: 20px;
    background: #F2881F;
    transition: all 0.3s ease;
    transform: rotate(2deg);
}