@import "tailwindcss";

.Animation-Header {
    position: relative;
}

.Animation-Header::before {
    content: attr(data-text);
    text-align: center;
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-transform: uppercase;
    transition: top 0.5s ease;
}

.Animation-Header.scrolling-down::before {
    top: 30px;
}

.Animation-Header.scrolling-up::before {
    top: 8px;
}

@media (max-width: 846px) {
    .Animation-Header::before {
        font-size: 85px;
    }
}

@media (max-width: 515px) {
    .Animation-Header {
        font-size: 64px;
    }

    .Animation-Header::before {
        font-size: 64px;
        width: 73%;
        left:2px;
        text-align: center;
        display: flex;
    }
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #F2881F;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: 9999;
}


.custom-cursor::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #F2881F;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite ease-in-out;
    pointer-events: none;
    /* تجنب تعارض التأثير مع التفاعل */
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}